/* Everything */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial;
}
/* Header */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #0074B7;
}

.logo{
    color: white;
    font-size: 36px;
}
.pagename{
    color: white;
    font-size: 20px;

}
/* Feature-Box */
.feature-box{
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.feature-box li{
    list-style: none;
}

.feature-box a{
    color:white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}


/* Footer */

.footer{
    background-color: rgb(122, 122, 122);
}

/* Body */

.mainimage{
    width: 200px;
    height:100px;
}

.flexbox-item{
    position: relative;
    top: 200px;
    left: 25%;
    width: 50%;
    height: 110px;
    border:3px solid #003B73;
    margin: 20px;
}

.h1{
    top: 20%;
    text-align: center;
}

.responsive{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.psolid {   
    border: 3px solid grey;
}
.psoliddos{
    border: 3px solid grey;
    border-top: 0px;
    font-size: 18px;
}

.text-center{
    text-align: center;
}

.wrapper{
    position: relative;
    margin: 0 auto;
  }
  .image{
      width: 100%;
      height: auto;
      max-width: 100%;
      vertical-align: top;
  }
  .hotspots{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: contain;
      z-index: 100;
  }
  .coords{
      position: absolute;
  }
  .tooltiptext{
    visibility: hidden;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    background-color: rgb(255, 255, 255);
    width: 140px;
    text-align: center;
    border: 3px solid   #003B73;
  }
  
  .tooltip{
      background: #0074B7;
      border: 3px solid #003B73;
      width: 25px;
      height: 25px;
      color: black;
      text-decoration: none;
      position: absolute;
      left: auto;
      top: auto;
      border-radius: 100%;
  }
/* Burger */

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Responsive/Mobile */


@media screen and (max-width:1024px){
    body{
        overflow-x: hidden;
    }
    .feature-box{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #BFD7ED;
        display: flex;
        flex-direction:column;  
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.45s ease-in;
        z-index: 10;
        opacity: 1;
    }
    
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navFeatureFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}