@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sveicināti!</h1>

    <iframe src="https://www.google.com/maps/d/embed?mid=1q135kuD7E0Y5_S7ZzhLc_CVE26DaghI&ehbc=2E312F" style="width:100%; height:800px"></iframe>
</div>

<p>Kārtīga ziema nav iedomājama bez pozitīvu enerģiju raisošas atpūtas pie dabas. Viens no ierastākajiem, taču arī aizraujošākajiem veidiem, kā aktīvi atpūsties ziemā, ir došanās slēpot. Turklāt Latvijā sportiski ziemas prieki pieejami visur – gan Vidzemē un Latgalē, gan Kurzemē un Zemgalē!</p>
<br />
<h2>1. Žagarkalns</h2>
<p>Ja esi ieplānojis ziemu baudīt Vidzemē, ir vērts apmeklēt vienu no tās labākajām slēpošanas bāzēm – Žagarkalnu, kas atrodas Cēsīs, Cīrulīšu ielā 70.</p>
<p>Žagarkalns ir piemērota vieta, gan pieredzējušiem sportistiem, gan atpūsties gribētājiem. Šajā slēpošanas bāzē Tu atradīsi:</p>
<p>
    bērnu un iesācēju parku – šis parks sastāv no četrām dažādas grūtības trasēm, kas piemērotas bērniem, kā arī pieaugušajiem, kas apgūst slēpošanas prasmes. Iespējams arī darboties kopā ar instruktoru un piedalīties individuālās apmācībās.
<p>
    Tāpat pieejama kameršļūkšana un iespēja vizināties ar ragaviņām;
    zonu „visas trases” – ideāli piemērotu tiem, kas ar slēpošanu jau ir uz Tu. Šajā zonā Tavai izklaidei būs pieejamas četras, dažāda garuma un reljefa trases, kā arī pacēlāji;
    Subaru freestyle parku – snovborda un frīstaila entuziastu satikšanās vietu ar dažādām, izaicinošām konstrukcijām;
</p>
    kameršļūkšanas trases – izbaudi nervus kutinošu šļūkšanu no kalna pa īpaši izveidotu reni!
    Tāpat Žagarkalnā Tevi gaida mājīga kafejnīca, kur atpūsties un ieturēt siltu maltīti pēc sniegā pavadītas dienas.
</p>
<img src="https://www.entergauja.com/userfiles/images/galery/things-to-do/enter-winter/active-leisure-centre-zagarkalns/139272106587.jpg?w=600&aspect=3-2" style="width:400px; height:auto;display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;" />


<h2>
    2. Lemberga hūte
</h2>
<p>Labvēlīgos laikapstākļos apmeklētāju priekam Kurzemē pieejams slēpošanas komplekss Lemberga hūte. Atrašanās vieta – Ventspils, Saules iela 141.</p>
<p>Šajā kompleksā Tu atradīsi:</p>
<p>
    * trases gan iesācējiem, gan nobriedušiem slēpotājiem;
</p>
<p> * snovparku, kas papildināts ar dažādiem slaidiem un tramplīniem gan profesionāļiem, gan iesācējiem;</p>
<p> * īpašu trasi kameršļūkšanai;</p>
<p> * kalniņu ragaviņu nobraucieniem;</p>
<p>
    * iespēju noīrēt nepieciešamo inventāru.
</p>
<p>Apmeklētājiem pieejama arī plaša automašīnu stāvvieta, kafejnīca un ģērbtuves ar dušu.</p>

<img src="https://www.slalom.lv/wp-content/uploads/2018/04/555-dz-k2-5-web1.jpg" style="width:400px; height:auto;display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;" />


<h2>
    3. Milzkalns
</h2>
<p>Zemgales viesmīlību ziemā iespējams izbaudīt, paviesojoties vienā no tās populārākajiem atpūtas parkiem – Milzkalnā, kas atrodas Dižkalnos, Smārdes pagastā, Engures novadā.</p>
<p>Atpūtas komplekss piedāvā 11 dažādas grūtības pakāpes slēpošanas trases, snovparku ar tramplīniem, kā arī iespēju nodarboties ar distanču slēpošanu.</p>
<p>
    Kompleksa uzturētāji padomājuši arī par nepieredzējušiem slēpotājiem. Milzkalnā pieejama arī lēzena trase un kalniņš iesācējiem, neatkarīgi no vecuma.

</p>
<p>Ja negribas slēpot, varēsi izbaudīt šļūkšanu ar ragaviņām vai kamerām un veldzēties pirtiņā. Milzkalnu teritorijā atrodas arī kafejnīca un viesnīca, un ir pieejama telpu īre.</p>

<img src="https://www.slalom.lv/wp-content/uploads/2018/04/milzk1.jpg" style="width:400px; height:auto;display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;" />

<h2>4. Egļukalns</h2>
<p>Slēpošana Latgalē nav iedomājama bez Egļukalna. Šī trase atrodas Sventē, Daugavpils novadā un ir lieliski piemērota ģimeniskai atpūtai. Egļukalnā atradīsi 3 trases:</p>
<p> * slaloma trasi – galveno trasi, kas veidota no diviem nobraucieniem 250 garumā un patiks profesionāļiem;</p>
<p> * ģimenes trasi – aprīkotu ar drošības tīklu un piemērotu iesācējiem, kas vēlas apgūt slēpošanu instruktoru vadībā;</p>
<p> * snovtubinga trasi – tiem, kas grib izbaudīt ātrumu, traucoties lejā no kalna ar īpaši veidota balona palīdzību.</p>
<p>Tāpat Egļukalns laipni uzņems pašus mazākos, ļaujot tiem izklaidēties uz bērnu kalniņa. Pieejama arī kafejnīca, autostāvvieta un inventāra noma.</p>

<img src="https://www.slalom.lv/wp-content/uploads/2018/04/EG%C4%BBUKALNS1.jpg" style="width:400px; height:auto;display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;" />

<h2>5. Riekstukalns
</h2>

<p>Ja meklē slēpošanas trasi pusstundas braucienā no Rīgas, dodies uz Baldones novadu. Tur Tevi gaidīs Baltijā lielākais slēpošanas kūrorts Riekstukalns ar 11 trasēm, snovparku un ragaviņu kalniņu šļūkšanai.
    
</p>
<p>Turklāt Riekstukalnā varēsi ieturēt gardu maltīti krodziņā vai aplūkot Latviju no 16 m augstā skatu torņa.</p>

<img src="https://riekstukalns.lv/storage/images/cache/596e00bdc8d270b07dfe7bec6f5b19b8f02b1736.jpg/5d1c66cc8993cc3126f6791185b7978f.jpg" style="width:400px; height:auto;display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;" />