@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Visas Lomas";
}

<h1>Visas Lomas</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
       asp-controller="administration">Pievienot jaunu lomu</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id">Rediģēt</a>
                <a href="#" class="btn btn-danger">Dzēst</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Neviena loma vēl nav izveidota
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Pielietojiet pogu, lai izveidotu lomu
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="administration" asp-action="CreateRole">
                Izveidot lomu
            </a>
        </div>
    </div>
}