@model Mountain

<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Dzēst kalnu</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name">Nosaukums</label>
            <input asp-for="Name" disabled class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="TrackCount">Trašu Skaits</label>
            <input asp-for="TrackCount" disabled class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="SkiLiftRent">Pacēlāja īre</label>
            <input asp-for="SkiLiftRent" disabled class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="HelmetRent">Ķiveres īre</label>
            <input asp-for="HelmetRent" disabled class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="SkiiRent">Slēpju īre</label>
            <input asp-for="SkiiRent" disabled class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Description">Apraksts</label>
            <input asp-for="Description" disabled class="form-control"/>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Izdzēst</button>
        <a asp-controller="Mountain" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Atpakaļ 
        </a>
    </div>
</form>

@*@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}*@