
<h4>Meklēt kalnu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" class="form-control" />
            </div>
            <input type="submit" value="Meklēt" class="btn btn-primary" />

            <a asp-controller="Mountain" asp-action="Index" class="btn btn-secondary" width="50%" style="width:150px">
                Atpakaļ
            </a>
        </form>
    </div>
</div>



