@model Mountain


<div class="border p-3 mt-4">
    <div class="row pb-2">
        <h2 class="text-primary">View Mountain</h2>
        <hr />
    </div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="TrackCount"></label>
        <input asp-for="TrackCount" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="SkiLiftRent"></label>
        <input asp-for="SkiLiftRent" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="HelmetRent"></label>
        <input asp-for="HelmetRent" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="SkiiRent"></label>
        <input asp-for="SkiiRent" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <a asp-controller="Mountain" asp-action="Index" class="btn btn-secondary" style="width:150px">
        Back to List
    </a>
</div>
